@font-face {
  font-family: genshin;
  src: url("../../public/assets/zh-cn.ttf");
}

.wrapper {
	/* --bg: #f8f8f8;
	--on-bg: #111;
	--secondary: #eee; */
}

:root{
  --width: min(100vw,calc(100vh*2048/1080));
  --height: min(100vh,calc(100vw*1080/2048));
}

* {
  color: var(--on-bg);
  background-color: var(--bg);
  transition: color 0.2s, background-color 0.2s;
  user-select: none;
  font-family: genshin;
  margin: 0px;
}

.main {
  min-height: 100vh;
  background-color: var(--bg);
}

input {
  border: none;
}

input:focus {
  outline: none;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: var(--bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg);
  border-radius: 20px;
  border: 0px solid var(--on-bg);
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.spacer {
  flex: 1;
}
